<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seouit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconcinn"
        android:label="서울아이티고등학교"
        android:roundIcon="@mipmap/iconcinn_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".Chatbot"/>
        <activity android:name=".PreWork" />
        <activity android:name=".Job" />
        <activity android:name=".Military" />
        <activity android:name=".Facility" />
        <activity android:name=".Map" />
        <activity android:name=".Mechanics" />
        <activity android:name=".Webcontent" />
        <activity android:name=".Security" />
        <activity android:name=".Electric" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>